@import "src/variables";

.not-found {
    @include max-content-width;
    padding: $searchbar-height + 48 8px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    color: darkgray;
}
