@import "src/variables";

.product-list {
    min-width: 100%;
    height: 100%;
    padding-top: $searchbar-height;
    background-color: $meli-gray;

    .result-container {
        @include max-content-width;
        margin: 0 auto;
        background-color: white;

        .no-result-card {
            padding: 24px 16px;
            align-items: center;
            text-align: center;
            text-decoration: none;
            color: darkgray;
            background-color: $meli-gray;
        }
    }
}
