@import "src/variables";

.product-list {
    min-width: 100%;
    min-height: 100vh;
    padding: $searchbar-height 0;

    .result-container {
        @include max-content-width;
        margin: 0 auto;

        .no-result-card {
            padding: 24px 16px;
            align-items: center;
            text-align: center;
            text-decoration: none;
            color: darkgray;
        }
    }
}
