@import "src/variables";

.product-list {
    min-width: 100%;
    padding: $searchbar-height 0;

    .result-container {
        @include max-content-width;
        margin: 0 auto;
    }
}
