@import "src/variables";

.breadcrumb {
    @include max-content-width;
    display: flex;
    color: gray;
    flex-wrap: wrap;
    align-items: center;
    padding: 16px 8px;
    font-size: $text-sm;
    margin: 0 auto;
    .category-divider {
        margin: 0 4px;
    }
    .breadcrumb-link {
        color: gray;
        text-decoration: none;
    }
}
