@import "src/variables";

$detail-spacing: 30px;

.product-detail {
    width: 100%;
    height: 100%;
    padding: $searchbar-height 0;

    .product-container {
        @include max-content-width;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 48px;
        background-color: white;

        .product-header {
            @include when-desktop {
                display: flex;
            }

            .product-picture {
                object-fit: contain;
                margin: 0 auto;
                width: 100%;
                border-bottom: 1px solid $meli-gray;
                @include when-desktop {
                    max-height: 500px;
                    max-width: 500px;
                    margin: $detail-spacing;
                    border: none;
                }
            }
            .product-header-container {
                display: flex;
                flex-direction: column;
                padding: 32px $detail-spacing 0;
                .product-condition {
                    margin: 0 0 24px;
                    font-size: $text-sm;
                    color: gray;
                }
                .product-title {
                    margin: 0 0 24px;
                    font-weight: 400;
                    @include when-desktop {
                        font-weight: 700;
                    }
                }
                .product-price {
                    margin: 0 0 48px;
                    font-size: $text-xl;
                    font-weight: 300;
                }
                .buy-btn {
                    margin: 0 0 32px;
                    width: 100%;
                    height: 50px;
                    border: none;
                    border-radius: 4px;
                    color: white;
                    background-color: $meli-blue;
                }
            }
        }
        .product-description {
            padding: 0 $detail-spacing;
        }
    }
}
